.cart_card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 330px;
    height: 250px;
    padding: 15px 25px;
}

.card_purple{
    background-color: #6547DC;
}

.card_red{
    background-color: #C94940;
}


.card_green{
    background-color: #47815E;
}


.card_blue{
    background-color: #3642B1;
}

.cart_card-style{
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color: #FFF;
}

.cart_card-unit-button-subtraction,.cart_card-unit-button-addition,.cart_card-delete,.cart_card-image,.trash-all,.not-product-cart{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.cart_card-unit-button-subtraction,.cart_card-unit-button-addition,.cart_card-delete,.trash-all,.buy-cart{
    cursor: pointer;
}

.cart_card-unit-button-subtraction{
    background-image: url('../../img/cart-subtraction.svg');
}

.cart_card-unit-button-addition{
    background-image: url('../../img/cart-addition.svg');
}

.cart_card-delete{
    position: absolute;
    background-image: url('../../img/cart-delete.svg');
    width: 27px;
    height: 27px;
    top: 15px;
    right: 15px;
}

.cart_card-title,.cart_card-unit{
    font-family: sansProBold;
    font-size: 18px;
}

.cart_card-price{
    font-family: interSemiBold;
    font-size: 26px;
}

.cart_card-title{
    position: relative;
    width: 80%;
}


.cart_card-image-container{
    position: absolute;
    width: 45vw;
    height: 40vw;
    max-width: 45%;
    max-height: 60%;
    bottom: 0;
    right: 0;
    border-radius: 150px 0px 30px 0px;
    background-color: #FFF;
}

.cart_card-image{
    width: 80%;
    height: 70%;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    right: 0;
}


.cart_card-unit-buttons{
    display: flex;
    gap: 7%;
}

@media (min-width: 768px){
    .cart_card-container{
        width: 330px;
    }
}

@media (min-width: 1024px){
    .cart_card-container{
        width: 40%;
        max-width: 600px;
    }
    
    .cart_card-image-container{
        max-height: none;
        max-width: none;
        width: 38%;
        height: 62%;
    }
    
}