:root{
    --text-color: #FAFAFA;
}

#footer{
    color: var(--text-color);
}

/* ESTILO PARA EL CARRUSEL DE MARCAS */

.Carousel-item{
    height: 110px;
    background-color: #D9D9D9;
}
.Carousel-items{
    background-color: #D9D9D9;
}

/* ESTILO PARA EL CONTENIDO PRINCIPAL DEL FOOTER */

.footer__main-content{
    background-color: var(--major-color);
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
    padding: 35px 30px;
    row-gap: 30px;
    grid-template-areas: 
    "logo"
    "description"
    "social"
    "help"
    ;
}

.footer__logo{
    grid-area: logo;
    width: 215px;
    height: 117px;
}

.footer__description{
    grid-area: description;
}

.footer__social{
    grid-area: social;
}

.footer__help{
    grid-area: help;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.footer__title{
    display: block;
    font-size: 26px;
    font-family: sansProBold;
    text-align: center;
}

.footer__text{
    display: block;
    font-size: 21px;
    text-align: center;
}

.footer_text-blue{
    color: #00C2FF;
}

.footer__description .footer__title{
    display: none;
}

.footer__social-container{
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    row-gap: 22px;
    column-gap: 42px;
    margin-top: 15px;
}

.footer__social-container img:hover{
    transform: scale(1.05);

}

@keyframes socialClick {
    0%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}


/* ESTILO PARA EL COPYRIGHT DEL FOOTER */

.footer__copy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E2D4F;
    font-family: sansProBold;
    font-size: min(5vw,18px);
    outline: 1px solid #263B6B;
    height: 60px;
}




/* TABLET */

@media (min-width: 768px){
    .footer__main-content{
        grid-template-columns: 1fr 1fr;
        padding: 50px 40px;
        grid-template-areas: 
        "logo logo"
        "description description"
        "social help"
        ;
    }

    .footer__description .footer__text{
        font-size: 24px;
    }

    .footer__description{
        margin-bottom: 20px;
    }


}

/* PORTATIL */

@media(min-width: 1024px){

    .footer__description{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer__description .footer__title{
        display: block;
    }

    .footer__main-content{
        grid-template-columns: .5fr .8fr .5fr;
        padding: 50px 40px;
        column-gap: 15px;
        grid-template-areas: 
        "social description help"
        ;
    }

    .footer__logo{
        display: none;
    }

    .footer__description .footer__text{
        font-size: 21px;
    }

}

@media(min-width: 1800px){
    .footer__main-content{
        /* max-width: 1600px;
        margin: 0 auto; */
        grid-template-columns: .5fr 1fr .5fr .5fr;
        grid-template-areas: 
        "logo description help social"
        ;
    }

    .footer__description{
        max-width: 600px;
    }

    .footer__logo{
        display: inline-block;
        align-self: center;
    }
}



