.main__header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0px 15px;
    align-items: center;
    gap: 15px;
    border-bottom: .2px solid #606278;
    background-color: var(--major-color);
    z-index: 100;
}

.inputSearch-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-width: 120px;
}

.inputSearch {
    height: 42px;
    border-radius: 2px;
    width: 100%;
    padding-left: 10px;
    padding-right: 36px;
    font-size: min(4vw, 16px);
    background-color: var(--input-bg-color);
    transition: all 1s;
}


.inputSearch:focus{
    box-shadow: 0px 0px 0px 1.5px rgb(255, 120, 30);
}

.inputSearch-icon{
    position: absolute;
    right: 10px;
    background-image: url('../../img/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--input-bg-color);
    width: 32px;
    height: 32px;
    border-radius: 0px;
    transition: all .3s;
}

.inputSearch-icon:active{
    background-color: var(--input-bg-color)
}

.inputSearch-icon:active, .inputSearch:checked ~ .inputSearch-icon{
    transform: translateX(5px);
}

/*Navegador mobile*/

.nav__mobile {
    width: 70%;
    max-width: 270px;
    position: absolute;
    top: 70px;
    transition: all .5s;
    right: -400px;
    background-color: var(--major-color);
}

.nav__opacity {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 70px;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.59);
}

.nav__mobile ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
    padding: 15px;
}

.nav__mobile a {
    display: flex;
    gap: 18px;
    align-items: center;
}

.mobile__button {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mobile__button i {
    width: 36px;
    height: 6px;
    background-color: #D9D9D9;
    border-radius: 1.4px;
    transition: all .4s;
}

.nav__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.nav__logo-container img {
    height: 50px;
}

.nav__desktop,.nav__desktop-user{
    display: none;
}

/* Fin Navegador mobile*/

/* TABLET */

@media (min-width: 768px){
    .inputSearch-container{
        max-width: 500px;
        margin: auto;
    }
}

/* DESKTOP */

.nav__desktop-user li:nth-child(3){
    display: flex;
    align-items: center;
}

.header-shopping-cart{
    background-image: url('../../img/font-car.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 39px;
    height: 34px;
    background-color: transparent;
}

.header-shopping-cart:hover{
    background-color: transparent;
}

.header-button-rect{
    padding: 7px 20px;
}

.nav__desktop-user ul{
    display: flex;
    gap: 20px;
    margin: 0 10px;
    font-size: 22px;
}

.nav__desktop li{
    position: relative;
}

.nav__desktop ul div{
    position: absolute;
    margin-top: 3px;
    width: 0%;
    height: 4px;
    left: 50%;
    background-color: #FAFAFA;
    transition: all .6s;
}

.nav__desktop li:hover > div{
    width: 100%;
    left: 0%;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1024px){

    .main__header{
        border-bottom: 1px solid #263B6B;
    }

    .header{
        outline: 1px solid #263B6B;
    }

    .nav__desktop{
        display: flex;
        align-items: center;
        background-color: #1E2D4F;
        height: 70px;
    }

    .nav__desktop ul{
        display: flex;
        position: relative;
        left: 25%;
        gap: 70px;
    }

    .nav__desktop ul a{
        font-size: 20px;
        font-family: sansProBold;
    }

    .header-rect-text{
        font-size: 22px;
        color: #FFF;
    }

    .mobile__button,.nav__mobile{
        display: none;
    }

    .logo_header{
        width: 95px;
        height: 53px;
        margin-right: 10px;
    }

    .inputSearch{
        height: 49px;
    }

    .inputSearch-container{
        max-width: 600px;
    }

    .main__header{
        position: static;
        height: 90px;
    }

    .nav__desktop-user{
        display: inline-block;
    }


}