* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }
  

:root {
    --major-color: #0E1525;
    --main-bg-color: #EDEDED;
    --input-bg-color: #FAFAFA;
    --text-color: #FAFAFA;
    --white-bg-color: #FFFFFF;
    --black-color: #000000;
    --footer-text: 1.6rem;
    --footer-title: 1.8rem;
    --font-inter: 'Inter', sans-serif;
    --button-color: #1C3368;
}

html{
    font-size: 62.5%;
}

li,
a {
    color: var(--input-bg-color);
    text-decoration: none;
    list-style: none;
}

main{
    padding-top: 70px;
    height: auto;
    background-color: var(--main-bg-color);
}

button{
    background-color: var(--button-color);
    border-radius: 5px;
}

button:active{
    background-color: #395497;
}

button,input{
    border: none;
    outline: none;
}

input{
    background-color: var(--input-bg-color);
}

*{
    user-select: none;
}

.loading{
    margin: 100px auto;
    margin-top: 180px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(var(--major-color) 90deg, var(--main-bg-color) 0deg);
    animation: reloadAnimation 3s;
    animation-iteration-count: infinite;
}

.loading-fill{
    background-color: var(--main-bg-color);
    width: 85%;
    height: 85%;
    border-radius: 100px;
}


@keyframes reloadAnimation {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(720deg);
    }
}