.product-container {
    display: grid;
    grid-template-columns: repeat(2,minmax(160px,200px));
    
    column-gap: calc( 3vw * 1.05 );
    row-gap: 25px;
    justify-content: center;
    margin: 0px 5%;
    min-height: 60vh;
}

.setting-container-desktop,.products-aside{
    display: none;
}

#resultsFound{
    font-family: sansProLight;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    margin-bottom: 16px;
}


.number-text{
    font-family: interBold;
    font-weight: 600;
}


.setting-container{
    display: flex;
    justify-content: space-around;
    margin: 36px 16px 14px 16px;
    gap: 16px;
}

.setting-sort,.setting-filter{
    user-select: none;
    max-width: 140px;
    min-width: 120px;
    width: 35vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-sort{
    outline: none;
    color: #626262;
    font-weight: 500;
    font-size: min(max(1.3rem,3.8vw), 1.6rem);
    border: 1.5px solid var(--black-color);
    border-radius: 5px;
    background-color: var(--main-bg-color);
    padding-left: 3px;
}

.setting-filter{
    font-size: 1.6rem;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    color: var(--input-bg-color);
    background-color: var(--major-color);
}

.page{
    display: flex;
    justify-content: center;
    padding: 48px 0px;
    padding-left: 10px;
    gap: 14px;
}

.btn-page-back,.btn-page-next{
    background-color: var(--main-bg-color);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-page-back:hover,.btn-page-next:hover{
    transform: scale(0.98);

}

.page-num{
    text-align: center;
    font-family: interRegular;
    font-weight: 600;
    height: 100%;
    padding: 5px 0px;
    min-width: 38px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--major-color);
    color: var(--input-bg-color);
}

.page-num:hover{
    cursor: auto;
}

.reload{
    display: none;
}

/* SETTING FORM */

#form-filter .product-filter-sort,#form-filter{
    display: none;
}

#form-filter{
    position: fixed;
    top: 0px;
    padding-top: 5vh;
    overflow-y: scroll;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: var(--major-color);
}

.product-filter-section{
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0px 20px;
    gap: 10px;
}

.filters-title{
    font-size: 26px;
    font-family: sansProBold;
    color: #FFF;
}

.product-filter-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
}

.product-filter-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-filter-list-item label,.product-filter-button{
    font-size: 18px;
    font-family: sansProLight;
}

.product-filter-list-item input{
    width: 25px;
    height: 25px;
}

.product-filter-button{
    width: 75vw;
    min-height: 45px;
    margin: 0 auto;
    font-family: sansProBold;
    background-color: #233560;
    transition: all .5s;
    border-radius: 5px;
    color: #FFF;
}

.product-filter-button:hover{
    box-shadow: inset 0px 46px 4px rgba(0, 0, 0, 0.25);
}

.product-filter-button:nth-child(4){
    margin-top: 30px;
}
.product-filter-button:nth-child(5){
    margin-top: 15px;
    margin-bottom: 10px;
}

.product-filter-close{
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: url('../../img/cruz.svg') no-repeat;
    background-size: cover;
}


.product-zero{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    gap: 20px;
    margin: 0px auto;
}

.product-zero h2{
    font-size: 30px;
    font-weight: 800;
    color: #555555;
}

.product-zero p{
    font-size: 18px;
    color: #555555;
}



/* FIN SETTING FORM */

@media (max-width: 350px){
    .product-container{
        grid-template-columns: minmax(200px,250px);
        grid-auto-rows: max-content;
        row-gap: 20px;
    }
}

@media (min-width: 400px){
    .setting-container{
        margin: 36px auto;
        margin-bottom: 16px;
        max-width: 410px;
    }
}

/* TABLET */

@media (min-width: 600px){
    .product-container{
        grid-template-columns: repeat(3,minmax(170px,210px));
    }

}


/* CORTE IMPORTANTE TABLET */
@media (min-width: 768px){
    .products-main{
        display: flex;
        padding-top: 75px;
    }
    #form-filter .product-filter-sort{
        display: block;
    }
    .product-filter-sort .setting-sort{
        margin-top: 10px;
    }
    .product-filter-sort .filters-title{
        padding-bottom: 10px;
    }
    .setting-container{
        display: none;
    }
   .product-container{
        grid-template-columns: repeat(2,minmax(160px,200px));
   }
   .products{
    min-height: 100vh;
    width: 65%;
    order: 2;
   }
   #resultsFound{
    position: absolute;
    top: 100px;
    left: 3%;
   }
   #form-filter{
    display: flex;
    position: static;
    overflow-y: hidden;
    height: auto;
    width: 35%;
    background-color: #E1E1E1;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    padding: 25px 0px;
    margin-left: 3%;
    border-radius: 5px;
    z-index: 0;
    order: 1;
    align-self: flex-start;
    }

    .filters-title,.product-filter-list-item label{
        color: #000;
    }


    .product-filter-button{
        width: 90%;
        margin: 0 auto;
    }

    .product-filter-close{
        display: none;
    }
}

/* DESKTOP */

@media (min-width: 1024px){

    /* GRID CONTAINER PRINCIPAL */
    .products-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        
    }

    .setting-container{
        display: none;
    }

    .setting-container-desktop{
        display: flex;
        width: 300px;
        background-color: #131313;
        height: 700px;
        grid-area: setting;
    }

    .products-aside{
        display: flex;
        align-items: center;
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        height: 80px;
        font-family: ralewayBold;
        font-size: 26px;
        background: linear-gradient(270deg, #0E1525 0%, #1E2D4F 100%);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        color: #FFF;
        padding-left: 20px;
        margin-bottom: 70px;
    }

    .products-aside-div{
        padding: 0px 24px;
        font-size: 28px;
    }

    .product-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        margin-left: 70px;
        margin-right: 0;
    }

    .products-main{
        justify-content: space-between;
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 0px;
        position: relative;
    }

    #form-filter{
        /* max-width: 350px; */
        margin: 0;
    }

    #resultsFound{
        top: -45px;
        left: 0;

    }

}