.main-form form{
    max-width: 1000px;
    padding: 20px;
}

.form-item{
    margin: 4rem 0;
    gap: 10%;
}

.input-form{
    align-self: center;
    width: 65%;
}

.label-form{
    width: 25%;
    text-align: center;
}

@media (min-width: 600px){
    .main-form form{
        width: 90%;
        padding: 40px 60px 70px 60px;
    }
    .input-form{
        width: 80%;
    }
    
    .label-form{
        width: 20%;
        text-align: start;
    }
}

@media (max-width: 320px){
    .label-form,.input-form{
        font-size: 14px;
    }
}